@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-img{
    background-image: url("../../public/frontimgs.jpg");
}


.pic1{
    background-image: url(../../public/megadeal.webp);
    /* background-image: url(../../public/deal1.JPG); */
}

.pic2{
    background-image: url(../../public/skincaredeal.webp);
}


.pic3{
    background-image: url(../../public/haircaredeal.webp);
}


.pic4{
    background-image: url(../../public/deals4.jpg);
}